html, body {
    margin: 0;
    padding: 0;
}
.timelines-wrapper {
    /* margin: 0 auto; */
    text-align: center;
}
.timelines-wrapper__small {
    /* width: 1440px; */
}
.timeline {
    margin-bottom: 50px;
} 
.timeline-point {
    position: relative;
    width: 30%;
    display: inline-block;
}
.timeline-point:after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    position: absolute;
    top: 20px;
    left: calc(50% - 12px);
}
.timeline-point__default:after {
    border-color: #e6e6e6;
}
.timeline-point__default {
    color: #959595;
}

.timeline-point__success,
.timeline-point__progress {
    color: #00a11f;
}
.timeline-point__success:after,
.timeline-point__progress:after {
    border-color: #00a11f;
}
.timeline-point__success:after {
    background-color: #00a11f;
}
.timeline-point__warning {
    color: #ff9a46;
}
.timeline-point__warning:after {
    border-color: #ff9a46;
}
.timeline-point__danger {
    color: #ff6866;
}
.timeline-point__danger:after {
    border-color: #ff6866;
    background-color: #ff6866;
}
.timeline-point:last-child:before {
    content: unset;
}
.timeline-point:before {    
    content: "";
    width: calc(100% - 20px);
    height: 4px;
    background-color: #e6e6e6;
    position: absolute;
    top: 28px;
    left: calc(100% - 154px);
}
.timeline-point__progress:before {
    background: linear-gradient(to right, #00a11f, #e6e6e6 50%);
    background: -webkit-linear-gradient(to right, #00a11f, #e6e6e6 50%); 
    background: -moz-linear-gradient(to right, #00a11f, #e6e6e6 50%);
}
.timeline-point__success:before {
    background-color: #00a11f;
}
.timeline-point__warning:before {
    background: linear-gradient(to right, #ff9a46, #e6e6e6 50%);
    background: -webkit-linear-gradient(to right, #ff9a46, #e6e6e6 50%); 
    background: -moz-linear-gradient(to right, #ff9a46, #e6e6e6 50%);
}