/* chart */ 
.chart {
	width: 70%;
	margin: 0 auto;
}
.chart-section {
	width: 50%;
	height: 200px;
	max-height: 200px;
	display: block;
	float: left;
	position: relative;
  overflow: hidden; 
  .chart-pie {
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  }
}
.chart-info {
  p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
  }
}
.chart-title {
	font-size: 26px;
	margin: 0;
	text-transform: uppercase;
	font-weight: 500;
}
@mixin border-position($width, $color, $border, $angle) {
  border-right: $width solid if($border=='right', $color, transparent);
  border-top: $width solid if($border=='top', $color, transparent);
  border-left: $width solid if($border=='left', $color, transparent);
  border-bottom: $width solid if($border=='bottom', $color, transparent);
  transform: rotate($angle);
}
.chart-section__top-left {
  .chart-pie {
    bottom: -63px;
    right: -63px;
    @include border-position(65px, #00a11f, 'left', 45deg);
  }
  .chart-info {
    margin-right: 65px;
    margin-top: 50px;
  }
}
.chart-section__bottom-left {
  .chart-pie {
    top: -63px;
    right: -63px;
    @include border-position(65px, #00a11f, 'left', -45deg);
  }
  .chart-info {
    margin-right: 65px;
    margin-top: 50px;
  }
}
.chart-section__top-right {
  .chart-pie {
    bottom: -73px;
    left: -73px;
    @include border-position(75px, #ff6866, 'top', 45deg);
  }
  .chart-info {
    margin-left: 75px;
    margin-top: 50px;
  }
  .chart-title {
    color: #ff6866;
  }
}
.chart-section__bottom-right {
  .chart-pie {
    top: -68px;
    left: -68px;
    @include border-position(70px, #ff9a46, 'right', 45deg);
  }
  .chart-info {
    margin-left: 75px;
    margin-top: 50px;
  }
  .chart-title {
    color: #ff9a46;
  }
}