
.timelines-wrapper {
	text-align: center;
	margin-top: 100px;
}
.timeline {
	margin-bottom: 50px;
	width: 100%;
	display: table;
	table-layout: fixed;
} 
.timeline-section {
	position: relative;
	display: table-cell;
	color: $gray-color;
}
.point {
	content: "";
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border-width: 4px;
	border-style: solid;
	position: absolute;
	top: 20px;
	left: calc(50% - 12px);
	border-color: $light-gray-color;
}
.timeline-section__success {
  color: $green-color;
  .point {
    background-color: $green-color;
    border-color: $green-color;
  }
  .line {
    background-color: $green-color;
  }
}
.timeline-section__progress {
  color: $green-color;
  .point {
    border-color: $green-color;
  }
}
.timeline-section__warning {
  color: $orange-color;
  .point {
    border-color: $orange-color;
  }
}
.timeline-section__danger {
  color: $red-color;
  .point {
    border-color: $red-color;
    background-color: $red-color;
  }
}
.line {    
	content: "";
	width: calc(100% - 24px);
	height: 4px;
	background-color: $light-gray-color;
	position: absolute;
	top: 28px;
	left: calc(50% + 10px);
}
@mixin linear-gradient($start-color, $end-color){
	background: linear-gradient(to right, $start-color, $end-color);
	background: -webkit-linear-gradient(to right, $start-color, $end-color); 
	background: -moz-linear-gradient(to right, $start-color, $end-color);
}
.line__green-to-gray {
  @include linear-gradient($green-color, $light-gray-color 50%);
}
.line__orange-to-gray {
  @include linear-gradient($orange-color, $light-gray-color 50%);
}
.line__green-to-red {
  @include linear-gradient($green-color, $red-color);
}
/* big timeline */
.timelines-wrapper__big {
	margin-right: 20px;
  margin-left: 20px;
  .point {
    left: unset;
    right: 0;
  }
  .line {
    left: 2px;
  }
  .timeline-section__progress {
    color: $gray-color;
    .point {
      background-color: transparent;
      border-color: $light-gray-color;
    }
  }
  .timeline-section__warning {
    .point {
      background-color: transparent;
      border-color: $light-gray-color;
    }
  }
  .timeline-section__success {
    .line {
      background: $green-color;
    }
  }
  .timeline-section__danger {
    .line {
      background: $red-color;
    }
  }
}
.timeline-section__start {
  width: 22px;
  .point {
    background-color: $green-color;
    border-color: $green-color;
    top: 19px;
  }
}