
.timelines-wrapper {
	text-align: center;
	margin-top: 100px;
}
.timeline {
	margin-bottom: 50px;
	width: 100%;
	display: table;
	table-layout: fixed;
} 
.timeline-section {
	position: relative;
	display: table-cell;
	color: #959595;
}
.point {
	content: "";
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border-width: 4px;
	border-style: solid;
	position: absolute;
	top: 20px;
	left: calc(50% - 12px);
	border-color: #e6e6e6;
}
.timeline-section__success,
.timeline-section__progress {
	color: #00a11f;
}
.timeline-section__success .point,
.timeline-section__progress .point {
	border-color: #00a11f;
}
.timeline-section__success .point {
	background-color: #00a11f;
}
.timeline-section__warning {
	color: #ff9a46;
}
.timeline-section__warning .point {
	border-color: #ff9a46;
}
.timeline-section__danger {
	color: #ff6866;
}
.timeline-section__danger .point {
	border-color: #ff6866;
	background-color: #ff6866;
}
.line {    
	content: "";
	width: calc(100% - 24px);
	height: 4px;
	background-color: #e6e6e6;
	position: absolute;
	top: 28px;
	left: calc(50% + 10px);
}
.timeline-section__success .line {
	background-color: #00a11f;
}
.line__green-to-gray {
	background: linear-gradient(to right, #00a11f, #e6e6e6 50%);
	background: -webkit-linear-gradient(to right, #00a11f, #e6e6e6 50%); 
	background: -moz-linear-gradient(to right, #00a11f, #e6e6e6 50%);
}
.line__orange-to-gray {
	background: linear-gradient(to right, #ff9a46, #e6e6e6 50%);
	background: -webkit-linear-gradient(to right, #ff9a46, #e6e6e6 50%); 
	background: -moz-linear-gradient(to right, #ff9a46, #e6e6e6 50%);
}
.line__green-to-red {
	background: linear-gradient(to right, #00a11f, #ff6866);
	background: -webkit-linear-gradient(to right, #00a11f, #ff6866); 
	background: -moz-linear-gradient(to right, #00a11f, #ff6866);
}
/* big timeline */
.timelines-wrapper__big {
	margin-right: 20px;
	margin-left: 20px;
}
.timelines-wrapper__big .point {
	left: unset;
	right: 0;
}
.timeline-section__start {
	width: 22px;
}
.timeline-section__start .point {
	background-color: #00a11f;
	border-color: #00a11f;
	top: 19px;
	left: 0;
}
.timelines-wrapper__big .timeline-section__progress .point {
	background-color: #fff;
	border-color: #e6e6e6;
}
.timelines-wrapper__big .timeline-section__warning .point {
	background-color: #fff;
	border-color: #e6e6e6;
}
.timelines-wrapper__big .timeline-section__progress {
	color: #959595;
}
.timelines-wrapper__big .line {
	left: 2px;
}
.timelines-wrapper__big .timeline-section__success .line {
	background: #00a11f;
}
.timelines-wrapper__big .timeline-section__danger .line {
	background-color: #ff6866;
}